<section class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <article class="card">
                <header class="header">
                    <h2 class="text-center title">USUARIO:</h2>
                </header>
                <div class="content">
                    <section class="upload-container">
                        <form (submit)="onUpload()">
                            <label for="file-upload" class="visually-hidden">Seleccionar archivo</label>
                            <input type="file" id="file-upload" (change)="onFileSelected($event)" />
                            <button class="btn btn-primary" type="button" (click)="onUpload()">Cargar Archivo</button>

                        </form>
                        <p>{{ mensaje }}</p>
                    </section>
                </div>
            </article>
        </div>
    </div>
</section>