

<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="text-center title">ACTUALIZAR MI CUENTA</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company </label>
                                        <input type="text" class="form-control" disabled placeholder="Company" value="Viamatica Solution">
                                    </div>
                                </div>
                               
                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>NOMBRE</label>
                                       
                                        <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>APELLIDO</label>
                                        <input type="text" class="form-control" name="apellido" [(ngModel)]="usuario.apellido">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>CORREO ELECTRONICO</label>
                                        <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>N° Identificacion</label>
                                        <input type="text" class="form-control" name="identificacion" [(ngModel)]="usuario.identificacion">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                      <label>PASSWORD</label>
                                      <div class="input-group">
                                        <input
                                          [type]="showPassword ? 'text' : 'password'"
                                          class="form-control"
                                          name="password"
                                          [(ngModel)]="usuario.password"
                                        />
                                        <div class="input-group-append">
                                          <button
                                            class="btn btn-outline-secondary"
                                            type="button"
                                            (click)="showPassword = !showPassword"
                                          >
                                            {{ showPassword ? '🙈' : '👁️' }}
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                               
                            </div>
                           
                            <div class="d-flex justify-content-between mt-5">
                                <button (click)="modificarUsuario()" type="submit" class="btn btn-info btn-fill">ACTUALIZAR USUARIO</button>
                                <button (click)="volverInicio()" type="submit" class="btn btn-primary btn-fill">VOLVER</button>
                              </div>                              
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <!-- <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/> -->
                    </div>
                    <div class="content text-center">
                        <div class="author">
                            <a >
                                <img class="avatar border-gray" src="assets/img/admin.jpg" alt="..."/>
                                <h4 class="title">{{user.nombre}}<br />
                                    <small>{{user.apellido}}</small>
                                </h4>
                            </a>
                        </div>
                       
                    </div>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
</div>



