
.main-content {
    margin-top: 20px;
    width: 100%; 
}

/* Container centrado con espacio adecuado */
.container-fluid {
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding: 20px; 
}


.user-info {
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-size: 32px; 
    font-weight: bold;
}

p {
    font-size: 24px; 
    color: #555;
}


.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}


.event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 30px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 100%; 
    max-width: 500px; 
    min-width: 320px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px; 
}

.event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.event-card p {
    margin: 15px 0;
    font-size: 20px; 
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-lg-3 {
    flex: 1;
    max-width: 25%; 
    padding: 10px;
}

.col-md-4 {
    flex: 1;
    max-width: 33.33%; 
    padding: 10px;
}

.col-sm-6 {
    flex: 1;
    max-width: 50%;
    padding: 10px;
}
.mb-4 {
    margin-bottom: 30px;
}
