<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- Información del usuario -->
            <section class="col-12">
                <div class="user-info">
                    <h3>{{ usuarios.nombre }} {{ usuarios.apellido }}</h3>
                    <p>IDENTIFICACION: {{ usuarios.identificacion }}</p>
                </div>
            </section>

            <section class="col-12">
                <div class="event-cards">

                    <div class="row">
                        <article class="col-sm-4 mb-4" *ngFor="let usuarios of usuario">
                            <div class="event-card">

                                <p><strong>Sesion:</strong> {{ usuarios.event }}</p>
                                <p><strong>Fecha:</strong> {{ usuarios.times| date:'yyyy-MM-dd HH:mm:ss' }}</p>

                            </div>
                        </article>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>