<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="d-flex mb-4 mt-4">
                <input class="form-control me-2" type="text" [(ngModel)]="busqueda"
                    placeholder="Buscar por Nombre, Apellido o Identificación" aria-label="Search">

                <button type="button" (click)="buscarUsuarios()" class="btn btn-outline-success">BUSCAR</button>
            </div>

            <div class="card">
                <div class="header">
                    <h4 class="text-center title">USUARIO:</h4>
                </div>
                <div class="content">
                    <form>
                     
                        <div *ngIf="searchRealizada && usuarios.length === 0" class="row">
                            <p>No se encontraron usuarios.</p>
                        </div>

                     
                        <div *ngIf="usuarios.length > 0" class="row">
                            <div *ngFor="let usuario of usuarios" class="col-md-5">
                                <div class="form-group">
                                    <label>NOMBRE </label>
                                    <input type="text" class="form-control" disabled placeholder="Viamatica"
                                        [value]="usuario.nombre">
                                </div>
                                <div class="form-group">
                                    <label>APELLIDO </label>
                                    <input type="text" class="form-control" disabled placeholder="Viamatica"
                                        [value]="usuario.apellido">
                                </div>
                                <div class="form-group">
                                    <label>N° IDENTIFICACION </label>
                                    <input type="text" class="form-control" disabled placeholder="Viamatica"
                                        [value]="usuario.identificacion">
                                </div>
                                <div class="form-group">
                                    <label>Email </label>
                                    <input type="text" class="form-control" disabled placeholder="Viamatica"
                                        [value]="usuario.email">
                                </div>
                                <div class="form-group">
                                    <label>ROL </label>
                                    <input type="text" class="form-control" disabled placeholder="Viamatica"
                                        [value]="usuario.role">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

